<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate book</title>
</head>
<body>
<h2>Donate book</h2>
<form th:action="@{/donate}" th:object="${book}" method="post">
    <p>
        <label>
            Type: <input type="text" th:field="*{type}"/>
        </label>
    </p>
    <p>
        <label>
            Name: <input type="text" th:field="*{name}"/>
        </label></p>
    <p>
        <label>
            Author: <input type="text" th:field="*{author}"/>
        </label>
    </p>
    <p>
        <label>
            Genre: <input type="text" th:field="*{genre}"/>
        </label>
    </p>
    <p>
        <label>Condition:
            <input type="text" th:field="*{book_condition}"/>
        </label>
    </p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset">
    </p>
</form>
<button onclick="location.href='/'">Back</button>
</body>
</html>