<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" th:href="@{styles/catalogue-style.css}" />
</head>
<body>

<div class="container">
    <h1>Book catalogue</h1>
    <div class="book" th:each="book : ${bookList}">
        <div class="icon">
            <img th:src="@{/resources/images/book-icon.png}" alt="" src=""/>
        </div>
        <div class="content">
            <h2 th:text="${book.name}">Name</h2>
            <p th:text="'Author: ' + ${book.author}">Author</p>
            <p th:text="'Genre:' + ${book.genre}">Genre</p>
            <span th:text="'Date added: ' + ${book.date_added}">Date added</span>
            <button class="borrow-btn">Borrow</button>
        </div>
    </div>
</div>
<button class="back-btn" onclick="location.href='/'" type="button">Back</button>
</body>
</html>